[submodule "eraydin.net/themes/ananke"]
	path = eraydin.net/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "eraydin.net/themes/PaperMod"]
	path = eraydin.net/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
